<h1>kuku</h1>

{{#each result}}
<div>
    <ul>
        <li>{{this.author}}</li>
        <li>{{this.course_name}}</li>
        <img src="public/img/{{this.img}}" alt="">

        <form action="/details/{{this.course_id}}" method="POST">
            <input type="submit" value="Course Details" />
        </form>

    </ul>
</div>


{{/each}}